.depot_form
  //- if flash[:alert]
    p#notice = flash[:alert]

  = form_tag do
    fieldset
      legend Please Log In
      div
        = label_tag :name, 'Name: '
        = text_field_tag :name, params[:name]
      div
        = label_tag :password, 'Password: '
        = password_field_tag :password, params[:password]
      div
        = submit_tag "Login"
