h3 Dear #{@order.name}

p Thank you for your recent order from The Pragmatic Store.

p Your ordered the following items:
table
  tr
    th Quantity
    th Description
  tr
    #{render @order.line_items}

p We'll send you a separate e-mail when your order ships.

