= form_for @order do |f|
  - if @order.errors.any?
    #error_explanation
      h2 = raw t('errors.template.header', count: @order.errors.count,
        model: t('activerecord.models.order'))
      p = t('errors.template.body')
      ul
        - @order.errors.full_messages.each do |message|
          li = raw message

  .field
    = f.label :name, t('.name')
    = f.text_field :name, size: 40
  .field
    = f.label :address, t('.address_html')
    = f.text_area :address, rows: 3, cols: 40
  .field
    = f.label :email, t('.email')
    = f.email_field :email, size:40
  .field
    = f.label :pay_type, t('.pay_type')
    = f.select :pay_type,
      translated_options_for_select(Order.payment_types, 'payment_types'),
      prompt: t('.pay_prompt_html')
  .actions = f.submit t('.submit')
