h1 = "Who bought #{@product.title}"
h2 = "Updated at #{@latest_order.try(:updated_at)}"

- @product.orders.each do |order|
  .entry
    h3 = "Order #{order.id}"
    .entry-summary
      p = "Shipped to #{order.address}"
      table
        tr
          th Product
          th Quantity
          th Total Price
        - order.line_items.each do |item|
          tr
            td = item.product.title
            td = item.quantity
            td = number_to_currency item.total_price
        tr
          th = 'total'
          th = number_to_currency \
            order.line_items.map(&:total_price).sum
      p = "Paid by #{order.pay_type}"
    .entry-author
      .author-name = order.name
      .author-email = order.email
