tr id="#{line_item == @current_item ? 'current_item' : ''}"
  td #{line_item.quantity}&times;
  td = line_item.product.title
  td class="item_price" = currency_to_locale(line_item.total_price)
  td = form_for line_item, remote: true, method: :put do |f|
    = f.hidden_field :quantity_decreased, :value => true
    = f.submit "Remove Item"
