- if notice
  p id="notice" == notice

- if session[:counter] > 5
  #counter
    | Page accessed #{pluralize(session[:counter], 'time')}.

h1 = t('.title_html')

- cache ['store', Product.latest] do

  - @products.each do |product|
    - cache ['entry', product] do
      .entry
        = image_tag(product.image_url)
        h3 = product.title
        = sanitize(product.description)
        .price_line
          span class="price" = currency_to_locale(product.price)
          == button_to t('.add_html'),
            line_items_path(product_id: product), remote: true
